body{
background: #FF5733
}


h1{
  font-family: 'Press Start 2P', sans-serif;
  color: white;
  font-size: 10em;


}

section{
  min-height: 90vh;
}

.content {

  color: #DBFF33;
  max-width: 680px;
}

#fable01 {
  border: 20px solid pink;
  background: pink;
  display:  inline-flex;
  align-items:  flex-end;
  justify-content: center;
  min-height: 100vh;



}

#fable01 h1{
  font-family: 'Anton', sans-serif;
  font-size: 5em;
  color: #DBFF33;
}

#fable01 p{
  font-family: 'Cuprum', sans-serif;
  font-size: 1.25em;
}







section{
  min-height: 90vh;
}

.content {

  color: #DBFF33;
  max-width: 680px;
  margin-right: auto;
}


#fable02 {
  border: 20px solid #3336FF;
  background: #3336FF;
  display:  inline-flex;
  align-items:  flex-end;
  justify-content:  flex-start;
}



#fable02 h1 {
  font-family: 'Anton', sans-serif;
  font-size: 5em;
  color: white;
}

#fable02 p{
  font-family: 'Cuprum', sans-serif;
  font-size: 1.25em;
  color: white;

}











section{
  min-height: 90vh;
}

.content {

  color: #DBFF33;
  max-width: 680px;
}



#fable03 {
  border: 20px solid #FFE933;
  background: #FFE933;
  display:  inline-flex;
  align-items:  flex-end;
  justify-content:  flex-start;
}

#fable03 h1{
  font-family: 'Anton', sans-serif;
  font-size: 5em;
  color: #FF3383;
}

#fable03 p{
  font-family: 'Cuprum', sans-serif;
  font-size: 1.25em;
  color: #FF3383;
}
